
<tr>
    <td><%= auto_link( message.message, :link => :urls) %></td>
    <td><%= message.created_at %></td>        
    <td><%= link_to 'Show', message %></td>
    <td><%= link_to 'Edit', edit_message_path(message) %></td>
    <td><%= link_to 'Destroy', message, method: :delete, data: { confirm: 'Are you sure?' , remote: true}, class: "delete" %></td>
</tr>