<p id="notice"><%= notice %></p>

<p>
  <strong>Message:</strong>
  <%= formatText(auto_link( message.message, :link => :urls)) %>  
  <%= @message.created_at %>  
</p>

<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
