<p id="notice"><%= notice %></p>

<div class="title">
    <h1>Visualizando Mensagem</h1>
</div>

<div class="message visualize">
  <div class="top">
    <%= @message.created_at.strftime("%A, %B %d, %Y at %H:%M") %> : 
  </div>
  <div class="ml-3">
    <span><%= formatText(auto_link( @message.message, :link => :urls)) %></span>
  </div>  
</div>

<div class="options">
  <%= link_to 'Edit', edit_message_path(@message) %>  |  
  <%= link_to 'Back', messages_path %>
</div>
